* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(80deg, 
white, #5f9ea0);
}

.header {
  font-size: 1.5rem;
  font-family: monospace;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;

  background-color: #5f9ea0;
  border-radius: 40px;
  margin: 80px;
}

.content {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;

  
}
.content_ >p{
  color: darkslategray;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



h3 {
  position: relative;
  right: 150px;
font-weight: 700;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#Home {
  border: 1px solid black;
  height: 500px;
  width: 80%;
  display: flex;
  margin: auto;
  gap: 30px;
  align-items: center;
  border-radius: 25px;
  box-shadow: 2px 2px 5px;
  justify-content: space-around;
}

#Home img {
  height: 200px;
  width: 50%;
  border-radius: 25px 0px 0px 25px;
  height: 100%;

}

.content_ {
  font-size: 25px;
  font-family: sans-serif;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

button {
  border: none;
  width: fit-content;
  padding: 14px;
  background-color: #5aaeba;
  border-radius: 10px;
  font-size: large;
}

button:hover {
  background-color: #a09cb2;
}




.two img:hover {
  transform: scale(1.08);
}


main {
  padding: 20px;
  text-align: center;
}

main h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #444;
}

main div img {
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

main div img:hover {
  transform: scale(1.08);
}

main div p {
  margin-top: 8px;
  font-weight: bold;
  color: #444;
}


#card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 20px;
}

.course-1,
.course-2,
.course-3,
.course-4 {
  background-color: white;
  border: 3px solid #1a9094;
  border-radius: 20px;
  width: fit-content;
  padding: 10px;
  text-align: center;
}


footer {
  border: 1px solid #1f9a9e;
text-align: center;
  background-color: #5f9ea0;
  color:  rgb(48, 72, 72);
  border-radius: 0px;
 margin-left: 100px;

width: 100%;
height: 200px;
margin: auto;

}

footer h1 {
  color:  darkslategray;
  margin-bottom: 10px;
  font-family: monospace;
 font-weight: 700;
 font-size: xx-large;
  
}

footer li{
  text-align: center;
  font-size: x-large;
  list-style-type:none;

}

#footer-about h1:hover {
  color: #444;
  background-color: none;
}




@media screen and (max-width: 700px) {
  body {
    background-color: #f5ee97;
    font-size: 14px;
  }

  .header {
    flex-direction: column;
    gap: 10px;
  }

  h3 {
    right: 0;
  }
}