h2 {
    padding: 30px;
   background-color: #5f9ea0;
    color: white;
    border-radius: 40px;
}
body{

 background: linear-gradient(80deg, 
white, #5f9ea0);
}
.parent {
    border: 1px solid black;
    height: 500px;
    margin: auto;
    width: fit-content;
    padding: 20px;
    margin-top: 100px;
    border-radius: 40px;
    box-shadow: 2px 2px 7px;
    margin-bottom: 100px;

}

.one {
    margin: 20px;
    text-align: center;


}

a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;


}

a:hover {
    background-color: bisque;
    color: blue;
}

.Three {
    background-color: #5f9ea0;
    color: aliceblue;
    border-radius: 40px;



}

h1 {
    text-align: center;
}

.content {
    text-align: center;
    width: fit-content;
    height: 150px;
    margin: auto;
    margin-bottom: 100px;

}

#back{

background: linear-gradient(80deg, 
white, #5f9ea0);;
border-radius: 5px;
height: 100%;
width: 100%;
padding: 25px;
border-radius: 55px;
font-size:large;


}
#back-button{
display: flex;
justify-content: center;
align-items: center;

}
